run = ["uvicorn", "main:app", "--host", "0.0.0.0", "--reload"]
modules = ["python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"
packages = ["libxcrypt"]

[deployment]
run = ["uvicorn", "main:app", "--host", "0.0.0.0"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 876735
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && uvicorn main:app --host 0.0.0.0 --port 8080 --reload"

[[workflows.workflow]]
name = "Frontend Dev"
author = 876735
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"

[[workflows.workflow]]
name = "Private Frontend Dev"
author = 876735
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev:private"
